
<div fxFill fxLayout="column" fxLayoutAlign="center center" class="mat-typography">
  <div class="mainLogin">
    <div class="heading">
      <h1 fxLayoutAlign="center" translate>Login</h1>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
        <h4 class="version">v{{ version }}</h4>
        <div class="language-selector">
          <button mat-raised-button color="primary" [matMenuTriggerFor]="languageMenu">
            {{ currentLanguage }}
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
              {{ language }}
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="login-container" fxLayout="row" fxLayoutAlign="center">
      <mat-card class="login-box" fxFill>
        <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off" novalidate>
          <div class="login-error" [hidden]="!error || isLoading" translate>
            Username or password incorrect.
          </div>
          <br />
          <div class="login-fields" fxLayout="column">
            <mat-form-field [hideRequiredMarker]="true">
              <input
                type="text"
                matInput
                formControlName="username"
                [placeholder]="'Username' | translate"
                required
              />
              <mat-error *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">
                <span translate>Username is required</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field [hideRequiredMarker]="true">
              <input
                type="password"
                matInput
                formControlName="password"
                [placeholder]="'Password' | translate"
                required
              />
              <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                <span translate>Password is required</span>
              </mat-error>
            </mat-form-field>
            <mat-slide-toggle color="primary" formControlName="remember" translate>Remember me</mat-slide-toggle>
            <div class="form-group register-link">
              Bạn chưa có tài khoản? <a routerLink="/register">Đăng ký</a>
            </div>
            <div class="form-group btn-action">
              <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
                <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
                <span translate>Login</span>
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>

</div>
