h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}
.mainPage {
  background: #f1f1f1;
  height: 100%;
  position: relative;
  padding-bottom: 50px;
  .AddPost {
    padding-top: 10px;
    .formAdd {
      .heading {
        .alert {
          font-size: 13px;
        }
      }
      .cvl-upload-form {
        .get-video-info {
          overflow-wrap: break-word;
          overflow: hidden;
          margin-top: 15px;
          border: 1px solid #00ff2b;
          .thumbnail {
            float: left;
            margin-right: 15px;
            position: relative;
            cursor: pointer;
            .cvl-icon-play {
              position: absolute;
              font-size: 30px;
              left: 50%;
              margin-left: -16.5px;
              top: 50%;
              margin-top: -22.5px;
              color: #dc3545;
            }
            &:hover {
              &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.5);
              }
              .cvl-icon-play {
                color: #fff;
              }
            }
          }
          .cvl-detail {
            padding-top: 3px;
            .title-video {
              font-size: 14px;
              font-weight: bold;
            }
            .description-video {
              font-size: 12px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              color: #666;
              overflow: hidden;
              word-break: break-word;
              margin-top: 4px;
            }
            .channel-name {
              color: #06c727;
              font-size: 13px;
              span {
                text-transform: capitalize;
              }
            }
          }
        }
        .cvl-input {
          position: relative;
          .loading-check {
            position: absolute;
            right: 10px;
            top: 7px;
            color: #29a645;
          }
        }
        .cvl-note {
          font-size: 12px;
        }
        .btnSubmit {
          margin-right: 5px;
        }
        .btnDefault {
          min-width: 80px;
        }
      }
    }
    .sidebar {
      .alert {
        font-size: 13px;
      }
      .policy {
        padding-left: 10px;
        margin-bottom: 0;
      }
    }
  }
  .cvl-widget {
    position: relative;
    width: 100%;
    margin: 0 0 10px;
    border: 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
