<div class="all-main-page">
  <div class="mainPage">
    <div class="container">
      <div class="AddPost">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="formAdd cvl-widget">
              <div class="heading">
                <div class="title">
                  <h1>Đăng bài mới</h1>
                </div>
                <div class="alert alert-warning" role="alert">
                  <p class="mg-b-5">
                    Bạn có ảnh/Clip hài hước, vui nhộn? Hãy chia sẻ tiếng cười với mọi người bằng cách đăng lên
                    chatvl.xyz.
                  </p>
                  <p class="no-mg-b">
                    Chú ý: Tuyệt đối không đăng ảnh/clip liên quan đến các vấn đề chính trị, tôn giáo, đồi trụy, trái
                    với thuần phong mỹ tục. Và đừng quên đọc các Nội quy khác ở bên phải nhé!
                  </p>
                </div>
              </div>
              <div class="cvl-upload-form">
                <div class="form-group">
                  <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                    {{ error }}
                  </div>
                </div>
                <form (ngSubmit)="onClickSubmit()" [formGroup]="addForm" novalidate>
                  <div class="form-group">
                    <label for="urlVideo">Đường dẫn tới Video Youtube</label>
                    <div class="cvl-note">
                      <p class="no-mg-b"><i>Copy từ thanh địa chỉ trình duyệt mà bạn đang xem Youtube</i></p>
                      <p class="mg-b-10"><i>Ví dụ: http://www.youtube.com/watch?v=9bZkp7q19f0</i></p>
                    </div>
                    <div class="cvl-input">
                      <input
                        type="text"
                        id="urlVideo"
                        formControlName="urlVideo"
                        [placeholder]="'LinkToVideo' | translate"
                        autocomplete="urlVideo"
                        class="form-control"
                        minlength="30"
                        (ngModelChange)="onLinkChange($event)"
                      />
                      <div class="loading-check sm-loading-after" [hidden]="!checkLoading">
                        <i class="fas fa-spinner"></i>
                      </div>
                    </div>
                    <div *ngIf="postMapping && postMapping.id" class="get-video-info">
                      <div class="thumbnail" (click)="lgModal.show()">
                        <div class="cvl-icon-play"><i class="fab fa-youtube"></i></div>
                        <img
                          src="{{ postMapping.thumbnail.default.url }}"
                          alt="{{ postMapping.title }}"
                          class="img-fluid"
                        />
                      </div>
                      <div class="cvl-detail">
                        <div class="title-video">{{ postMapping.title }}</div>
                        <div class="channel-name">
                          Channel: <span>{{ postMapping.channelTitle }}</span>
                        </div>
                        <div class="description-video">{{ postMapping.description }}</div>
                      </div>
                      <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
                        <div class="modal-dialog modal-lg modalPlayer">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h6 id="dialog-sizes-name1" class="modal-title pull-left">{{ postMapping.title }}</h6>
                              <button
                                type="button"
                                class="close pull-right"
                                (click)="lgModal.hide()"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <youtube-player
                                [videoId]="postMapping.id"
                                (ready)="savePlayer($event)"
                                (change)="onStateChange($event)"
                              ></youtube-player>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="title">Tiêu đề bài viết</label>
                    <div class="cvl-input">
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        formControlName="title"
                        [placeholder]="'TitleVideo' | translate"
                        autocomplete="link"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="category">Danh mục</label>
                    <div class="cvl-input">
                      <ng-select2
                        formControlName="catId"
                        id="category"
                        [data]="categories"
                        width="100%"
                        [placeholder]="'Please select a category...'"
                      ></ng-select2>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="hashtag">Hashtag</label>
                    <div class="cvl-note">
                      <p class="no-mg-b"><i>Mỗi Hashtag cách nhau bằng dấu phẩy hoặc phím Enter</i></p>
                      <p class="mg-b-10"><i>Ví dụ: chatvl, hottag,... </i></p>
                    </div>
                    <div class="form-group">
                      <ngx-input-tag formControlName="hashtag" [tagSuggestions]="hashtag" id="hashtag"></ngx-input-tag>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success btnSubmit btnDefault" [disabled]="!addForm.valid || isLoading">
                      <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                      <span translate>&nbsp; Submit &nbsp;</span>
                    </button>
                    <button type="button" class="btn btn-danger btnDefault">Hủy</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="sidebar cvl-widget">
              <div class="form-group">
                <div class="name-cvl mg-b-5">Quyền hạn thành viên</div>
                <div class="alert alert-warning" role="alert">
                  <p class="mg-b-5">Bạn được đăng 2 video/ngày.</p>
                  <p class="mg-b-5">Số video bạn đã đăng hôm nay: 0.</p>
                  <p class="mg-b-5"><i>(giới hạn sẽ tăng khi bạn được nhiều like)</i>.</p>
                </div>
              </div>
              <div class="form-group">
                <div class="name-cvl mg-b-5">Quy định đăng bài</div>
                <div class="alert alert-secondary" role="alert">
                  <ul class="policy">
                    <li>
                      Tuyệt đối không đăng ảnh liên quan đến các vấn đề chính trị, tôn giáo, đồi trụy, trái với thuần
                      phong mỹ tục
                    </li>
                    <li>Không đăng ảnh đã bị trùng</li>
                    <li>Đừng xóa watermark của ảnh (nếu có) để đăng bạn nhé! Hãy tôn trọng sự sáng tạo!</li>
                    <li>Không đăng ảnh tự sướng, dìm hàng</li>
                    <li>
                      Không đăng ảnh chứa thông tin cá nhân của người khác (kể cả tên, avatar, link Facebook), trừ người
                      nổi tiếng
                    </li>
                    <li>Nhập các thông tin bằng tiếng Việt có dấu và đúng chính tả</li>
                    <li>
                      Hãy đặt tiêu đề và mô tả ảnh một cách sáng tạo. Tránh đặt kiểu như: "hay vãi", "chuẩn", ":))"...
                      Không đặt tiêu đề câu like, vote, xin lên trang chủ hay có nội dung tương tự trong ảnh.
                    </li>
                    <li>Đăng ảnh phản động, đồi trụy quá mức sẽ bị khóa tài khoản ngay lập tức</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
