
<div class="admin-toolbar" [hidden]="active !== true">
  <div class="name">ADMIN</div>
  <div class="action">
    <div class="right-at">
      <div class="item addSuggestion" (click)="lgModal.show()">Thêm đề xuất</div>
    </div>
  </div>
  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg modalPlayer">
      <div class="modal-content">
        <div class="modal-header">
          <h6 id="dialog-sizes-name1" class="modal-title pull-left">Thêm video vào danh sách đề xuất</h6>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onClickSubmit()" [formGroup]="addSuggestion" novalidate>
            <div class="listSugges form-group">
              <ng-select2
                formControlName="suggestionss"
                id="category"
                [data]="suggestionss"
                width="100%"
                [options]="options"
                [placeholder]="'Please select a category...'"
              ></ng-select2>

            </div>
            <div class="btnSubmit">
              <button type="submit" class="btn btn-success">
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                <span>&nbsp; Thêm &nbsp;</span>
              </button> &nbsp;
              <button type="button" class="btn btn-danger">Hủy</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

