.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.brand {
  text-decoration: none;
  padding-right: 1rem;
}

.menu-button {
  margin-right: 1rem;
}
.login-box .btn-login {
  color: #fff !important;
  padding: 5px 20px;
  font-size: 14px;
}
