.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
.homePage {
  .mainPage {
    margin-top: 90px;
    .bannerHome {
      position: relative;
      .img-banner {
        width: 100%;
      }
      .loadingBanner {
        position: relative;
        height: 42px;
        width: 42px;
        margin: 0 auto;
        .white-loading {
          position: absolute;
          height: 21px;
          overflow: hidden;
          z-index: 99;
        }
        .black-loading {
          position: absolute;
          color: #1a2332;
        }
      }
      .nameSite {
        position: absolute;
        bottom: -17px;
        left: 50%;
        margin-left: -150px;
        color: #d41f1b;
        width: 300px;
        text-align: center;
        h1 {
          font-size: 24px;
          color: #fff;
          margin: 0 0 10px 0;
        }
        .description {
          color: #fff;
          font-style: italic;
          margin-bottom: 20px;
        }
      }
    }
    .container {
      @media (min-width: 1200px) {
        max-width: 1284px;
      }
    }
    .group-ct {
      margin-top: 50px;
      .chatvl-session-item {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dcdcdc;
        .heading-item {
          margin-bottom: 20px;
          h2 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
