.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
.homePage {
  .mainPage {
    margin-top: 90px;
    .bannerHome {
      position: relative;
      .img-banner {
        width: 100%;
      }
      .loadingBanner {
        position: relative;
        height: 42px;
        width: 42px;
        margin: 0 auto;
        .white-loading {
          position: absolute;
          height: 21px;
          overflow: hidden;
          z-index: 99;
        }
        .black-loading {
          position: absolute;
          color: #1a2332;
        }
      }
      .nameSite {
        position: absolute;
        bottom: -17px;
        left: 50%;
        margin-left: -150px;
        color: #d41f1b;
        width: 300px;
        text-align: center;
        h1 {
          font-size: 24px;
          color: #fff;
          margin: 0 0 10px 0;
        }
        .description {
          color: #fff;
          font-style: italic;
          margin-bottom: 20px;
        }
      }
    }
    .container {
      @media (min-width: 1200px) {
        max-width: 1284px;
      }
    }
    .group-ct {
      margin-top: 50px;
      .chatvl-session-item {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dcdcdc;
        .heading-item {
          margin-bottom: 20px;
          h2 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
.list-session {
  .gr-row {
    margin: 0 -2px;
    .item-row {
      padding: 0 2px;
      .item-chatvl {
        margin-bottom: 25px;
        .thumbnail {
          position: relative;
          .img-thumb {
            .overlay-side-panel {
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              background-color: hsla(0, 0%, 6.7%, 0.8);
              color: hsla(0, 0%, 100%, 0.8);
              text-align: center;
              font-size: 16px;
              font-weight: 400;
              line-height: 2rem;
              display: flex;
              -ms-flex-direction: column;
              -webkit-flex-direction: column;
              flex-direction: column;
              -ms-flex-align: center;
              -webkit-align-items: center;
              align-items: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
              width: 92px;
            }
          }
          .view-all-pannel {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: hsla(0, 0%, 6.7%, 0.8);
            color: hsla(0, 0%, 100%, 0.8);
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 2rem;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            text-transform: uppercase;
            width: 100%;
            display: none;
          }
        }
        .chatvl-simple-endpoint {
          .title {
            padding-right: 24px;
            height: 40px;
            margin-bottom: 5px;
            h3 {
              font-size: 1.4rem;
              margin: 0;
              a {
                margin: 8px 0 8px;
                display: -webkit-box;
                max-height: 3.2rem;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 2;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                text-decoration: none;
                color: #0d0d0d;
              }
            }
          }
          .description {
            font-size: 12px;
            color: #606060;
            .tk-author {
            }
          }
        }
        &:hover {
          .thumbnail .view-all-pannel {
            display: flex;
          }
        }
      }
    }
  }
}
